* {
    transition: .5s;
    -webkit-transition: .5s;
}

html,
body {
    background: #141A32;
    color: #eee;
    font-family: "Overpass";
    cursor: default;
}

.clear {
    clear: both;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

h2.title span {
    color: #007bff;
}

h2.title .sprkly {
    background: transparent url(../img/sparkles.gif);
    text-shadow: 0px 0px 5px #0e0088, 0px 0px 6px #007bff;
    font-weight: bold;
}

img.profile {
    max-width: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #222;
}


.text-grey {
    color: #aaa;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
}

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999999;
    padding: 0.5em;
    background: #141A32;
    /* border-radius: 0 0 .5em .5em; */
}

.sticky-nav .btn {
    background: #24449b;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none !important;
}

@media (min-width: 768px) {
    .nav-item {
        display: block;
        width: 100%;
        border: 2px solid #24449b;
        margin: 0.5em;
        border-radius: .2rem;
    }

    .nav-item:hover {
        box-shadow: 0 0 10px #24449b
    }
}


@media (max-width: 768px) {
    img.profile {
        max-width: 100px;
    }
}

.nav-link {
    padding: .5rem;
}

.social-links a {
    display: inline-block;
}

.social-links a:hover i {
    color: #fff;
}

.social-links a i {
    width: 1.75em;
    color: #fff;
    padding: .25em;
    border-radius: .25em;
}

.social-links .fa-facebook-f {
    background: #3b5998;
}

.social-links .fa-twitter {
    background: #1da1f2;
}

.social-links .fa-linkedin {
    background: #0077b5;
}

.social-links .fa-github {
    background: #333;
}

.social-links .fa-hackerrank {
    background: #25B658;
}

.social-links .fa-medium {
    background: #00ab6c;
}

.social-links .fa-stack-overflow {
    background: #f48024;
}

.social-links .fa-gitlab {
    background: #fca326;
}

.social-links .fa-codepen {
    background: #111;
}

.social-links .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-links .fa-behance {
    background: #1769ff;
}

.social-links .fa-deviantart {
    background: #4dc47d;
}

.social-links .fa-free-code-camp {
    background: #006400;
}

.social-links .fa-youtube {
    background: #ff0000;
}

.social-links .fa-reddit {
    background: #ff4500;
}

.social-links .fa-quora {
    background: #a82400
}

.social-links .fa-dev {
    background: #232222;
}

.social-links .fa-bullseye {
    background: #f5cd0e;
}

.social-links .fa-aws {
    background: #ff9900;
}

.social-links .fa-box-open, .social-links .fa-box-open:hover, .social-links .fa-box-open:focus{
    color: #9acc14;
    background: #000;
}


.project,
.resume-item {
    border-bottom: 1px solid #007bff;
}

/* .project:hover {
    background: #111;
} */

.project p {
    clear: both;
}

.project i[class^='devicon-'] {
    font-size: 2em;
}

.project i[class^="devicons"] {
    font-size: 2.5em;
}
.project .devicon-android-plain{
    color: #a4c639;
}

.project .devicon-javascript-plain{
    color: #f7df1e;
}

.project .devicon-typescript-plain{
    color: #0166b8;
}

.project .devicon-bootstrap-plain{
    color: #563d7c;
}

.project .devicon-angularjs-plain{
    color: #b52e31;
}

.project .devicon-html5-plain{
    color: #e34f26;
}

.project .devicon-css3-plain{
    color: #264de4;
}

.project .devicon-php-plain{
    color: #8892be;
}

.project .devicon-python-plain{
    color: #4584b6;
}

.project .devicon-java-plain{
    color: #f8981d;
}

.project .devicon-csharp-plain{
    color: #68217a;
}

.project .devicon-cplusplus-plain{
    color: #00599c;
}


.project .devicons-unity_small{
    color: #00cccc;
}
.project .devicons-terminal{
    color: #0078d7;
}


.about .table td {
    border: none;
}

.about .table.mainT td {
    border: none;
    font-weight: lighter;
    text-align: left
}

.about .social-links a {
    margin: .5em;
}

.about .social-links a i {
    font-size: 1.5em;
}

.about .social-links a:hover {
    box-shadow: 5px 5px 10px #111;
}

.stat {
    font-size: 1.15em;
    font-weight: lighter;
    text-align: left
}

.stat .col-md-6,
.stat .col-md-12 {
    padding: 1em;
}

.stat.social-links i.fab {
    /* font-size: 1.5em; */
    width: 1.75em;
    color: #fff;
    padding: .25em;
    border-radius: .25em;
    margin: .25em 0;
    text-align: center;
}

.contact-icon-link {
    display: block;
    color: #FFF;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
}

.contact-icon-link:hover {
    color: #fff;
    opacity: .5;
    /* font-size: 3em;
    line-height: 3em; */
}

.resume .table td {
    padding: .2em;
}

.floating-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.5em;
    border-radius: 100%;
    background: #24449b;
    padding: .5em;
}