* {
    transition: .5s;
    -webkit-transition: .5s;
}

html,
body {
    background: #141A32;
    color: #eee;
    font-family: "Oswald";
    cursor: default;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

h2.title span {
    color: #007bff;
}

img.profile {
    max-width: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #222;
}

@media (min-width: 768px) {
    .nav-item {
        display: block;
        width: 100%;
        background: #0f152d;
        margin: .5em;
    }
}
.social-links a {
    display: inline-block;
}

.social-links a:hover i {
    color: unset;
}

.social-links i {
    font-size: 2em;
    color: #fff;
}

/* .menu, */
.project {
    border-bottom: 1px solid #007bff;
}

.project:hover{
    background: #111;
}

.project p {
    clear: both;
}

.project i[class^='devicon-'] {
    font-size: 2em;
}

.table td {
    border: none;
    font-size: 1.25em;
    font-weight: lighter;
    text-align: left
}

.table tr td:first-child {
    /* text-align: right; */
}

.table tr td:last-child {
    /* text-align: left; */
}