<div class="row" ng-init="getStat()" ng-controller="profileCtrl">
    <h3 class="m-3 col-md-12">Profile</h3>
    <div class="col-md-8 mx-auto">
        <table class="table">
            <tr>
                <td>Email</td>
                <td><a href="mailto:hello@nuwan.dev">hello@nuwan.dev</a></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td><a href="tel:+94717871494">+94 71 787 1494</a><br/>
                    <a href="tel:+94757871494">+94 75 787 1494</a>
                </td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>1994 May 24</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>Magalegoda, Veyangoda.</td>
            </tr>
            <tr class="border-top">
                <td ng-if="gitLoaded">
                    <i class='fab fa-github fa-2x'></i><br>
                    <span class="text-warning">{{github.public_repos}}</span> public repos<br/>
                    <span class="text-warning">{{github.public_gists}}</span> public gists<br/>
                    Joined on <span class="text-warning">{{github.created_at | date}}</span><br/>

                </td>
                <td ng-if="soLoaded">
                    <i class='fab fa-stack-overflow fa-2x'></i><br>
                    <span class="text-warning">{{stackoverflow.reputation}}</span> total reps<br/>
                    <span class="text-success">{{stackoverflow.reputation_change_month}}</span> this month &amp;
                    <span class="text-success">{{stackoverflow.reputation_change_year}}</span> this year.<br/>
                    Last online <span class="text-warning">{{stackoverflow.last_access_date | date : "h:mm:ss a on MM/dd"}}</span>.
                </td>
            </tr>

            <tr class="border-top">
                <td colspan="2">
                    <i class="fab fa-hackerrank fa-2x mb-2"></i> Hackerrank.com<br>
                    <span class="text-success">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span> - Problem Solving<br> 
                    <span class="text-success">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span> - Java<br>
                    <span class="text-success">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span> - Python<br>
                    <span class="text-success">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </span> - SQL<br>
                    <span class="text-success">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </span> - Statistics<br>
                </td>
            </tr>
        </table>
    </div>
</div>